@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Jomolhari&display=swap');

body {
  font-family: 'Jomolhari', 'Helvetica', 'Arial' serif;
  color: #222;
  line-height: 1;
}

html {
  font-size: 16px;
}


h1, h2, h3, h4 {
  font-family: 'Bowlby One SC', cursive;
  font-weight: 400;
}

h4 {
  font-style: italic;
}

main {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "school  sidebar"
  "work  work";
}

article {
  border: 2px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  border: 5px solid black;
  padding: 5px;
  float: left;
  overflow: auto;
  margin: 0px 20px 20px 20px;
}

nav li {
	margin-right: 1rem;
  display: inline;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#work {
  border-top: 2px solid #ccc;
  grid-area: work;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "work    work"
  "club   miansai"
  "bass   neiman";
}

#header {

}

#school {
  grid-area: school;
}

#sidebar {
  grid-area: sidebar;
}

.club {
  grid-area: club;
}

.neiman {
  grid-area: neiman;
}

.bass {
  grid-area: bass;
}

.miansai {
  grid-area: miansai;
}

a:link {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: purple;
}
