@import url('https://fonts.googleapis.com/css?family=Jomolhari|Merriweather:900&display=swap');

.grid {
  display: grid;

}

.wrapper {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Jomolhari", "Helvetica", "Arial" serif;
  color: #222;
  line-height: 1;

}

h1, h2, h3, h4 {
  font-family: "Merriweather", "Arial", "Helvetica" serif;
  font-weight: 900;
}

h2 {
  text-decoration: underline;
}

h4 {
  font-style: italic;
}

a:link {
  color: blue;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  color: purple;
}

img {
  border: 5px solid black;
  padding: 5px;

}

#work {

}

#header {
  border-bottom: 2px solid #ccc;
  grid-column-start: 1;
  grid-column-end: 2;
}

article {
  border: 2px solid black;
  margin: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
}

#school {

}

nav li {
	margin-right: 1rem;
}
